[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py="==1.0.0"
astor="==0.8.1"
beautifulsoup4="==4.10.0"
cached-property="==1.5.2"
certifi="==2021.10.8"
charset-normalizer="==2.0.12"
ckiptagger="==0.2.1"
dataclasses="==0.8"
filelock="==3.4.1"
gast="==0.5.3"
gdown="==4.4.0"
grpcio="==1.44.0"
h5py="==3.1.0"
importlib-metadata="==4.8.3"
importlib-resources="==5.4.0"
Keras-Applications="==1.0.8"
Keras-Preprocessing="==1.1.2"
Markdown="==3.3.6"
mock="==4.0.3"
numpy="==1.19.5"
pip="==21.3.1"
plumbum="==1.7.2"
protobuf="==3.19.4"
PySocks="==1.7.1"
requests="==2.27.1"
rpyc="==5.0.1"
setuptools="==59.6.0"
six="==1.16.0"
soupsieve="==2.3.1"
tensorboard="==1.13.1"
tensorflow="==1.13.1"
termcolor="==1.1.0"
tqdm="==4.63.1"
typing_extensions="==4.1.1"
urllib3="==1.26.9"
Werkzeug="==2.0.3"
wheel="==0.37.1"
zipp="==3.6.0"

[dev-packages]

[requires]
python_version = "3.6"
